<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="application" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/application.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%-6p %d{ISO8601} (%t) [%c{5}] - %m%n"/>
        </layout>
    </appender>

    <appender name="dbpool" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/dbpool.log"/>
        <param name="MaxFileSize" value="10MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <param name="ConversionPattern" value="%-6p %d{ISO8601} (%t) [%c{5}] - %m%n"/>
        </layout>
    </appender>

    <logger name="ua.nure.voitenkom.SummaryTask4" additivity="true">
        <level value="DEBUG"/>
        <appender-ref ref="application"/>
    </logger>

</log4j:configuration>